
section > h2 {
  padding: .5em;
  text-align: center;
}

.introduction > p {
  margin: 1em 0;
  padding: 0;
  text-align: center;
}

video {
  background-color: #ffffff;
  display: block;
  height: auto;
  margin: auto;
  max-height: 25em;
  max-width: unset;
  width: 100%;
}

.thumbnail > svg.play {
  position: absolute;
  top: 50%;
  left: 50%;
  fill: #ffffff;
  opacity: 0.7;
  transform: translate(-50%, -50%); /* top and left is centered in item */
  transition: all .2s ease;
  width: 5em;
}

.thumbnail > svg.play:hover {
  opacity: 0.8;
}

.thumbnail.blurred > svg.play {
  opacity: 0.2;
}

/**
 * Course module item
 */
.course-module {
  border: #DDD solid 1px;
}

.course-module > .metadata {
  overflow: hidden;
}

.course-module > .see-course {
  box-shadow: none;
}

.course-module > .see-course:hover {
  box-shadow: none;
}

.course-video > .metadata > .thumbnail {
  padding: 0;
}

/**
 * Styles for the video
 * @todo:ffl - Migrate all video-specific styles for online courses, to this file
 */
.video-player-frame {
  background-color: #FFF;

  margin: 0.5em auto;
  max-width: 50rem;

  width: 100%;
}

video.course-video {
  background-color: #111111;
  border: 0;
  border-radius: 0;
  box-shadow: none;

  max-width: unset;

  padding: 0;

  width: 100%;
}

/**
 * Metadata connected to
 */
.video-titles {
  background-color: #3F51B5; /* Color extracted from Theme/Grooa3 stylesheets */
  box-sizing: border-box;

  color: #FFF;

  font-size: 1.0em;

  padding: 0.5em;

  text-align: left;
}

.video-titles > h1 {
  color: inherit;

  font-size: inherit;

  margin: 0;
  text-align: left;
}

.video-metadata.columns {
  align-items: flex-start;

  display: flex;
  flex-wrap: nowrap;

  justify-content: space-between;

  margin: 0.5em auto;
  max-width: 50rem;

  position: relative;

  width: 100%;
}

.video-metadata > .course-information {
  background-color: #ffffff;
  border: #DDD solid 1px;
  box-sizing: border-box;

  flex: 1;
  flex-basis: 10em;

  width: 100%;
}

.video-metadata > .course-information > h2 {
  background-color: #EEE;

  color: #3F51B5;

  font-size: 1.0em;
  font-weight: 400;
}

.video-metadata > .course-information > h2.colored {
  background-color: #3F51B5;

  color: #ffffff;
}

.course-information~.course-information {
  margin-left: 0.5em;
}

.course-information.most-important {
  flex: 7;
}

.course-information > .data {
  box-sizing: border-box;

  padding: 0.5em;
}

.course-information > .data > h2 {
  font-size: 1em;
}

/**
 * Sets the styles of the lists inside description and resources.
 * Note: We don't use direct inheritance from .data to ul, because we
 * want to catch sublists aswell.
 */
.course-information > .data ul {
  font-family: inherit !important; /* Force list to use Global font-family */
  font-size: 0.8rem !important; /* Force custom font-size, use Rem to keep the font-size uniform in different levels */
  padding: 0 0.5em;
}

@media screen and (max-width: 40rem) {
  .video-metadata {
    align-items: stretch;

    flex-direction: column;

    justify-content: flex-start;
  }

  .course-information~.course-information {
    margin-left: 0;
    margin-top: 0.5em;
  }
}