
h2 {
    text-align: center;
}

.paypal {
    align-items: center;

    background-color: #3b7bbf; /* The light PayPal-color */
    border: 0;

    color: #FFF;

    display: inline-flex;

    font-size: 0.8em;

    height: 100%;

    justify-content: center;

    vertical-align: middle;

    text-align: center;
}

.paypal:hover {
    background-color: #3F83CC;
}

.paypal > svg {
    margin-right: .5em;
}

.introduction > p {
    margin: 1em 0;
    padding: 0;

    text-align: center;
}

video {
    display: block;

    height: auto;

    margin: auto;
    max-height: 25em;
    max-width: 40em;

    width: 100%;

}